<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define a simple bean -->
<!--    <bean id="t" class="beans.Test.Test" >-->

<!--    </bean>-->
    <!--Below example of Dependency Injection-->
<!--    <bean id="t" class="SampleDI.Test" >-->
<!--       <property name="gender" value="Mr."/>-->
<!--    </bean>-->
<!--Below example Constructor with index attribut as without index it will assign on the basis of sequence defined-->
    <bean id="t" class="SetterDI.Test">
        <constructor-arg value="anujshukla8520@gmail.com" type="String" />
        <constructor-arg value="Anuj Shukla" type="String" />
        <constructor-arg value="25" type="int" index="2"/>
    </bean>

</beans>
